<h1><%= @list.name() %></h1>

<% if @list.tasks().any?() %>
  <h3>Here are all the tasks in this list:</h3>

  <ul>
    <% @list.tasks().each() do |task| %>
      <li><%= task.description() %></li>
    <% end %>
  </ul>

  <% else %>
    <p>No Tasks</p>
  <% end %>

<div class="container">
  <a href="/lists">View All Lists</a>
  <br>
  <a href="/lists/new">Add New List</a>
</div>




  <form action="/lists/<%= @list.id()%>" method="post">
    <div class="form-group">
      <label class="form-label" for="task_name">Name of Task:</label>
      <input class="form-control" id="task_name" name="task_name" type="text" placeholder="List Task" autofocus>
      <button type="submit" class="button btn">Save</button>
    </div>
  </form>

  <a href="/">Home</a>
